*{
    box-sizing: border-box;
}
body{
    background: 
    linear-gradient(rgba(30, 10, 10, 0.1),rgba(30, 10, 10, 0.1)),
    url('https://images.pexels.com/photos/1031955/pexels-photo-1031955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1, h2, p{
    text-align: center;
}
div{
    background: red;
    
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.clear{
    clear: both;
}

.card{
padding: 10px;
background: blue;
}

.item{
    background: pink;
    width: 50%;
    padding: 10px;
    text-align: center;
  
    float: left;
  }

.price{
    background: orange;
    width: 50%;
    padding: 10px;
    text-align: center;
    
    float: left;
}
  